*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container{
    height: 30px;
    width: auto;
    text-align: center;
    padding-top: 5px;
    color: white;
    
}
.navbar{
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
    height: 69px;
    padding-top: 10px;
    

}
.dropdown{
    padding-bottom: 10px;
    width: 30%;
    display: flex;
    position: relative;
    justify-content: space-evenly;
}
.dropdown-button{
    background-color: white;
    border: none;
}
.dropdown-content{
    width: 100%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content ul{
    display: flex;
    justify-content: space-evenly;
}
.dropdown-content ul a{
    display: block;
}


.dropdown:hover .dropdown-content{
    display: block;
}
.nav{
    padding-top: 18px;
}
.logos{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
}
.logo1{
    width: auto;
    height: 12rem;
    width: 25%;
   
}
.logo2{
    
    width: 12%;
    height: auto;
}

.common-block{
    background: linear-gradient(90deg,#d11e47,#ef7922);

}

.body1{
    

}
.ul{
    width: 200px;
    height: 10px;
    border-radius: 5px;

}

/* body2 */
.first{
    display: flex;
    justify-content: space-evenly;
    
}
.bshadow{
    border: 1px solid black;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    
    padding-top: 0.8rem; 
    padding-left: 3rem; 
    
}
.bshadow:hover{
    background-color: grey;
    
}

/* Body4 */
.body-box{
    display: flex;
    justify-content: space-evenly;
}

.body4{
    width: 80rem;
    height: 30rem;
    position: relative;
    left: 2.5%;
    transform: skewY(4.6deg);
   
}
.circle{
    display: flex;
    justify-content: space-evenly;
    
}
.circle1{
    position: relative;
    bottom: 400px;
    background-color: orange;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.circle2{
    position: relative;
    bottom: 350px;
    background-color: rgb(43, 43, 216);
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.circle3{
    position: relative;
    bottom: 300px;
    background-color: rgb(185, 185, 185);
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.image{
    display: flex;
    justify-content: space-evenly;
    
    
    left:20px ;
}
.image1{
    position: relative;
    bottom: 670px;
}
.image1 :hover{
    animation: zoom-in-zoom-out 2s ease-in-out alternate ;
    
    
    
}
@keyframes zoom-in-zoom-out{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.2);
    }
    100%{
        transform: scale(1,1);
        animation-timing-function: ease-out;
    }
}
.image2{
    position: relative;
    bottom: 610px;
}
.image3{
    position: relative;
    bottom: 550px;
}

/* footer */
.foot{
    background-color: #272727;
    height: 490px;
    width: 100%;
}
.foot4{
    color: ;
    display: flex;
    justify-content: space-evenly;
}