*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-div{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}
#container{
    height: 30px;
    width: auto;
    text-align: center;
    padding-top: 5px;
    color: white;
    
}

.navbar{
    /* background-color: blue; */
    color: black;
    display: flex;
    justify-content: space-evenly;
    height: 69px;
    /* padding-top: 10px; */
    


}
.dropdown{
    padding-bottom: 10px;
    padding-top: 10px;
    width: 30%;
    color: black;
    display: flex;
    justify-content: space-evenly;
}

/* .nav{
    padding-top: 18px;
} */
.logos{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    
}
.logo1{
   
    height: AUTO;
    width: 25%;
    
   
}
.logo2{
    
    width: 12%;
    height: auto;
    
}

.common-block{
    background: linear-gradient(90deg,#d11e47,#ef7922);

}

.body1{
    margin-top: 50px;
    padding: 0px 160px;

    

}
.ul{
    width: 200px;
    height: 10px;
    border-radius: 5px;

}
.body21{
    display: flex;
    justify-content: space-evenly;
}

.body21 div{
    width: 23%;
}

.body21 img{
    width: 24vw;
}

.body21 p{
    margin-left: 120px;
    font-weight: 700;
}

.icon{
    margin-top: 40px;
    margin-left: 280px;
    border: 1px solid black;
    border-radius: 50%;
    padding: 4px 4px;
}
/* body2 */
.body2{
    margin-top: 20px;
}
.first{
    display: flex;
    justify-content: space-evenly;
    
}
.bshadow{
    border: 1px solid black;
    border-radius: 25px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    box-shadow: 2px 2px 0.5px 1px #111111;
    padding-top: 0.6rem; 
    padding-left: 2.6rem; 
    margin-top: 1.5rem;
    
}
.bshadow:hover{
    background-color: #333333;
    color: white;
    border: 1px solid #333333;
    box-shadow: 2px 2px 0.5px 1px #333333;

    
    
}

/* Body4 */
.body-box{
    padding-top: 0px;
    margin-top: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-box{
    background-color: white;
    color: black;
}

.body4{
    width: 100vw;
    height: 30rem;
    position: relative;
    transform: skewY(4.6deg);
    margin-top: 35px;
    margin-bottom: 0px;
    
   
}
.circle{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    
}
.circle1{
    position: relative;
    top: 6rem;
    background-color: orange;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.circle2{
    position: relative;
    top: 8rem;
    background-color: rgb(43, 43, 216);
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.circle3{
    position: relative;
    top: 10rem;
    background-color: rgb(185, 185, 185);
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.image{
    display: flex;
    justify-content: space-evenly;
    left:20px ; 
}
.image1{
    position: absolute;
    left: 12rem;
    bottom: 9rem;
}
.image1:hover{
    animation: zoom-in-zoom-out 2s ease-out alternate ;
    
    
    
}
.image2:hover{
    animation: zoom-in-zoom-out 2s ease-out alternate ;
    
    
    
}
.image3:hover{
    animation: zoom-in-zoom-out 2s ease-out alternate ;
    
    
    
}

@keyframes zoom-in-zoom-out{
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.2,1.2);
    }
    100%{
        transform: scale(1,1);
        animation-timing-function: ease-out;
    }
}
.image2{
    position: relative;
    bottom: 8rem;
    left: 17rem;
}
.image3{
    position: relative;
    bottom: 5rem;
    left: 9rem;
}

.form-div{
    height: 450px;
    width: auto;
    transform: skewY(4.6deg);
    margin-top: 45px;
    
   
}
.form-inside{
    position: relative;
    bottom: 300px;
    left: 34%;
    color: white;
    justify-content: center;
    align-items: center;

}
form{
   width: 35%;
  
}
input[type="email"]{
    width: 20rem;
  padding: 12px 20px;
  margin: 8px 0;
  border-radius: 50px;
 
  
}
button{
    display: flex;
    justify-content: left;
}
.submit{
    /* padding: 5px 5px; */
    border-radius: 50px;
    width: 25%;
    left: 60rem;
    background-color: #000000;
    color: white;
    padding: 14px 20px;
    /* margin: 50px ; */
    border: none;
    /* border-radius: 50px; */
    cursor: pointer;
    transition-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 95px;
}
.submit:hover{
    background-color: white;
    color: black;

}

/* footer - start */
footer {
    padding: 50px 30px;
    background-color: #272727;
    color: white;
  }
  
  .footer-top {
    width: 80vw;
    margin-left: 150px;
  }
  .footer-top p {
    font-size: 0.9rem;
  }
  
  .footer-top h1,
  h2 {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 20px;
  }
  
  .footer-top h2 {
    margin-top: 35px;
  }
  
  .footer-mid{
    display: flex;
  }

  .foot-logo{
    margin-right: 75%;
  }

  .footer-icon img{
    margin-right: 10px;
  }
  .footer-mid1{
      display: flex;
      justify-content: space-evenly;
      margin-top: 30px;
  }
  
  .footer-mid1 h1{
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 30px;
  }
  
  .footer-mid1 p{
      font-size: 0.9rem;    
  }
  
  .footer-bottom{
      display: flex;
  }
  
  .fb-one{
      display: flex;
      justify-content: space-between;
  }
  
  .fb-one p{
      margin-right: 50px;
      font-size: 0.85rem;
      color: grey;
  }
  
  /* footer - end */